<html>
	<head>
		<link rel="stylesheet" type="text/css" href="app.component.css">
	</head>
  <body>
		<h1>Currículo</h1>

		<ul id="menu">

		</ul>

		<div class="secao">
			<h2>Dados Pessoais</h2>
      <li class="ativo">Nome: João Otávio Freires da Silva</li>
      <li class="ativo">Telefone: (11) 96183-7735</li>


		</div>

		<div class="secao">
			<h2>Objetivo Profissional</h2>
      <li class="ativo">Busco uma oportunidade de primeiro emprego para desenvolver minhas habilidades, aprender e contribuir para o crescimento da empresa.</li>

    </div>

    <div class="secao">
        <h2>Formação Acadêmica</h2>
        <li class="ativo">Ensino Médio Completo</li>
        <li class="ativo">Etec Martinho di Ciero, Itu, São Paulo</li>
        <li class="ativo">Conclusão em Dezembro/2023</li>

    </div>
    <div class="secao">
      <h2>Habilidades</h2>
      <li class="ativo">Determinado</li>
      <li class="ativo">Focado</li>
      <li class="ativo">Dedicado</li>
      <li class="ativo">Comunicação eficaz</li>
      <li class="ativo">Trabalho em equipe</li>
      <li class="ativo">Atenção aos detalhes</li>

		</div>
	</body>
</html>
